.careers-container .about-container {
    padding: 1% 3%;
    font-family: 'Noto Sans', sans-serif;
}

.careers-container .about-container .heading {
    font-family: 'Questrial', sans-serif;
    font-size: 190%;
    margin: auto;
}

.careers-container .careers-form {
    font-family: 'Noto Sans', sans-serif;
    overflow: hidden;
    padding: 1% 3%;
}

.careers-container .careers-form .property {
    padding: .6% 1.15%;
    overflow: auto;
}

.careers-container .careers-form .field {
    position: absolute;
    right: 70%;
    float: right;
    height: 25px;
}

.careers-container .careers-form .submit{
    position: absolute;
    font-size: 17px;
    left: 19.5%;
    width: 9%;
    height: 31px;
}

.careers-container .careers-form .resume {
    position: absolute;
    right:59%;
    width: 5%;
    float: right;
    padding: 0% 2%;
    border: 1px solid #ccc;
    background-color: #eeeeee;
    color: #333333;
}

.careers-container .careers-form input[type="file"] {
    display: none;
}

.careers-container .careers-form .property .filesname{
    float: right;
    margin: auto;
    width: 41rem;
}

.careers-container .careers-form #resume {
    border: 1px solid #ccc;
    background-color: #eeeeee;
    color: #333333;
    width: 5%;
}